awscli==1.18.44
blis==0.4.1
botocore==1.15.44
catalogue==1.0.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
conllu==2.3.2
cycler==0.10.0
cymem==2.0.3
docutils==0.15.2
en-core-sci-lg==0.2.4
idna==2.9
importlib-metadata==1.6.0
jmespath==0.9.5
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
murmurhash==1.0.2
nmslib==2.0.6
numpy==1.18.3
pandas==1.0.3
plac==1.1.3
preshed==3.0.2
psutil==5.7.0
pyasn1==0.4.8
pybind11==2.5.0
pyparsing==2.4.7
pysbd==0.2.3
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4
requests==2.23.0
rsa==3.4.2
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
scispacy==0.2.4
-e git+https://github.com/NationalLimerickProductions/seq2cite.git@c9061f7d5f66c8a34ce717d600dc614c974e8cab#egg=seq2cite&subdirectory=module
six==1.14.0
spacy==2.2.4
srsly==1.0.2
thinc==7.4.0
tqdm==4.45.0
urllib3==1.25.9
wasabi==0.6.0
zipp==3.1.0
